# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Build files
build/
dist/
*.egg-info/
.eggs/
*.egg
pip-wheel-metadata/

# Environment folders
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE settings (VSCode, PyCharm, etc.)
.vscode/         # ✅ VSCode 설정 무시
.idea/

# Logs and cache
*.log
.cache/
*.cover
*.py,cover
.pytest_cache/
.mypy_cache/
.dmypy.json
.pyre/
.pytype/
.pyright/

# Jupyter Notebo
